@import '~bootstrap/scss/bootstrap';

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 0;
}

.modal-content {
  background-color: #fafcfd;
}

.modal-dialog {
  position: absolute;
  top: 15%;
  left: 30%;
}

.bg-active {
  background-color: #b7f2f4;
}

.bg-navbar {
  background-color: #9b9ea21c;
}
